input/*.csv
input/*.xml
input/*.xls*
input/*.zip

output/*.csv
output/*.xls*
output/*.png
output/*.md
output/*.pdf
output/*.html

config/*.token


*.Rproj
.Rproj.user
.RData
.Rhistory

.idea

*.DS_Store
*.swp
